
<form action="/square/results">
  <label for="square">Enter a number</label>

  <div>
    <input id="square" type="text" name="number" placeholder="What number do you want to take the square of?">
  </div>

  <button>Calculate square</button>

</form>
